@inject AppState AppState
@inject EventBroadcastService EventBroadcast

<div class="property-group">
    <label>Process:</label>
    <input type="text" value="@Process" @oninput="e => Process = e.Value?.ToString()" @onchange="e => SetProcessAsync(e.Value?.ToString())" />
</div>
<div class="property-group">
    <label>Store to variable (optional):</label>
    <input type="text" value="@VariableName" @oninput="e => VariableName = e.Value?.ToString()" @onchange="e => SetVariableNameAsync(e.Value?.ToString())" />
</div>
<div class="property-group">
    <label>Display name:</label>
    <input type="text" value="@DisplayName" @oninput="e => DisplayName = e.Value?.ToString()" @onchange="e => SetDisplayNameAsync(e.Value?.ToString())" />
</div>
<div class="property-group">
    @if (Data.NextSymbols.Count > 1)
    {
        <span>Next symbols:</span>
    }
    else
    {
        <span>Next symbol:</span>
    }

    @if (Data.NextSymbols.Count == 0)
    {
        <span>None</span>
    }
    else
    {
        @foreach (var nextSymbol in Data.NextSymbols)
        {
            <button class="button-tech" style="font-size: 60%;" @onclick="() => SwitchToSymbol(nextSymbol)">@nextSymbol</button>
        }
    }
</div>
<div class="property-group">
    <span>Details:</span>
    <table class="details">
        <tr>
            <td>Position X:</td>
            <td>@Data.X</td>
        </tr>
        <tr>
            <td>Position Y:</td>
            <td>@Data.Y</td>
        </tr>
        <tr>
            <td>Width:</td>
            <td>@Data.Width</td>
        </tr>
        <tr>
            <td>Created at:</td>
            <td>@Data.CreatedAt.DateTime</td>
        </tr>
        <tr>
            <td>Bottom to top:</td>
            <td>@Data.IsBottomToTop</td>
        </tr>
    </table>
</div>

@code {
    [Parameter, EditorRequired]
    public required ProcessSymbolData Data { get; set; }

    private string? Process
    {
        get => Data.Process;
        set
        {
            Data.Process = value == string.Empty ? null : value?.Trim();
            EventBroadcast.UpdateProperties();
            EventBroadcast.UpdateWorkspace();
        }
    }

    private string? VariableName
    {
        get => Data.VariableName;
        set
        {
            Data.VariableName = value == string.Empty ? null : value?.Trim();
            EventBroadcast.UpdateProperties();
            EventBroadcast.UpdateWorkspace();
        }
    }

    private string? DisplayName
    {
        get => Data.DisplayName;
        set
        {
            Data.DisplayName = value == string.Empty ? null : value?.Trim();
            EventBroadcast.UpdateProperties();
            EventBroadcast.UpdateWorkspace();
        }
    }

    private async Task SetProcessAsync(string? value)
    {
        Process = value;
        await AppState.PersistAsync();
    }

    private async Task SetVariableNameAsync(string? value)
    {
        VariableName = value;
        await AppState.PersistAsync();
    }

    private async Task SetDisplayNameAsync(string? value)
    {
        DisplayName = value;
        await AppState.PersistAsync();
    }

    private void SwitchToSymbol(Guid symbolId)
    {
        AppState.Persistent.SelectedSymbolId = symbolId;
        EventBroadcast.UpdateProperties();
        EventBroadcast.UpdateWorkspace();
    }
}
