<menu>
    <h2 class="symbols">Symbols</h2>
    <MenuItem SymbolClass="symbol-terminal" Name="Start / End" OnMouseDown="SelectItem" IsSelected="@IsSelected("Start / End")" />
    <MenuItem SymbolClass="symbol-flowline" Name="Flowline" IsNameVisible="false" OnMouseDown="SelectItem" IsSelected="@IsSelected("Flowline")">
        <div class="line"></div>
        <div class="point"></div>
    </MenuItem>
    <MenuItem SymbolClass="symbol-process" Name="Process" OnMouseDown="SelectItem" IsSelected="@IsSelected("Process")" />
    <MenuItem SymbolClass="symbol-io" Name="Input / Output" OnMouseDown="SelectItem" IsSelected="@IsSelected("Input / Output")" />
    <MenuItem SymbolClass="symbol-decision" Name="Decision" OnMouseDown="SelectItem" IsSelected="@IsSelected("Decision")" />
</menu>

@code {
    private string? SelectedItem { get; set; }

    private void SelectItem(string name) => SelectedItem = name;

    private bool IsSelected(string identifier) => SelectedItem == identifier;
}