<div class="symbol symbol-decision" style="position: absolute; left: @(Data.X)px; top: @(Data.Y)px; width: @(Data.Width)px; height: @(Data.Height)px">
    <div class="shape symbol-hoverable" style="width: calc(@(Data.Height)px * sin(45deg) + 2px); height: calc(@(Data.Height)px * sin(45deg) + 2px); transform: scaleX(@Data.ScaleX) rotate(45deg);"></div>
    <span>Decision</span>
    <div class="connect connect-top connect-top-decision"></div>
    <div class="connect connect-bottom connect-bottom-decision"></div>
    <div class="connect connect-left-decision"></div>
    <div class="connect connect-right-decision"></div>
</div>

@code {
    [Parameter, EditorRequired]
    public required DecisionSymbolData Data { get; set; }
}
