@using FlowchartNET.Components.Events
@implements IDraggable

<div class="symbol symbol-decision" style="position: absolute; left: @(Data.X)px; top: @(Data.Y)px; width: @(Data.Width)px; height: @(Data.Height)px">
    <div @ref="shape" class="shape symbol-hoverable" style="width: calc(@(Data.Height)px * sin(45deg) + 2px); height: calc(@(Data.Height)px * sin(45deg) + 2px); transform: scaleX(@Data.ScaleX) rotate(45deg); cursor: @(IsDragging ? "grabbing" : "grab");"
    @onmousedown="MouseDownAsync"
    @onmousedown:preventDefault="true"
    @ontouchstart="TouchStartAsync"
    @ontouchstart:preventDefault="true"></div>
    <span>Decision</span>
    <div class="connect connect-top connect-top-decision" 
         @onclick="() => OnPointClickAsync(socketTop)"
         @onclick:stopPropagation="true"
         @onmousedown:preventDefault="true"></div>
    <div class="connect connect-bottom connect-bottom-decision" 
         @onclick="() => OnPointClickAsync(socketBottom, id => Data.FalseBranch = id)"
         @onclick:stopPropagation="true"
         @onmousedown:preventDefault="true"></div>
    <div class="connect connect-left-decision"
         @onclick="() => OnPointClickAsync(socketLeft, id => Data.TrueBranch = id)"
         @onclick:stopPropagation="true"
         @onmousedown:preventDefault="true"></div>
    <div class="connect connect-right-decision"
         @onclick="() => OnPointClickAsync(socketRight, id => Data.TrueBranch = id)"
         @onclick:stopPropagation="true"
         @onmousedown:preventDefault="true"></div>
</div>

@code {
    private ElementReference shape;

    private static string socketTop = "top";
    private static string socketBottom = "bottom";
    private static string socketLeft = "left";
    private static string socketRight = "right";

    public bool IsDragging { get; set; }

    [Parameter, EditorRequired]
    public required DecisionSymbolData Data { get; set; }

    Guid IDraggable.Id => Data.Id;
    double IDraggable.X { get => Data.X; set => Data.X = value; }
    double IDraggable.Y { get => Data.Y; set => Data.Y = value; }

    [Parameter]
    public EventCallback<SymbolDragEventArgs> OnMouseDown { get; set; }

    [Parameter]
    public EventCallback<PointClickEventArgs> OnPointClick { get; set; }

    private async Task MouseDownAsync(MouseEventArgs e)
    {
        IsDragging = true;
        await OnMouseDown.InvokeAsync(new SymbolDragEventArgs(this, e.ClientX, e.ClientY));
    }

    private async Task TouchStartAsync(TouchEventArgs e)
    {
        if (e.Touches.Length == 0)
        {
            return;
        }

        IsDragging = true;
        await OnMouseDown.InvokeAsync(new SymbolDragEventArgs(this, e.Touches[0].ClientX, e.Touches[0].ClientY));
    }

    private async Task OnPointClickAsync(string socket, Action<Guid>? connector = null)
    {
        await OnPointClick.InvokeAsync(new PointClickEventArgs(this, shape, socket, connector));
    }
}
