@using FlowchartNET.Components.Events
@implements ISymbol
@inject AppState AppState

<div class="symbol symbol-decision" style="position: absolute; left: @(Data.X)px; top: @(Data.Y)px; width: @(Data.Width)px; height: @(Data.Height)px" @onkeydown="OnKeyDown">
    <div @ref="Shape" class="shape symbol-hoverable @(Selected ? "selected" : "") @(Simulated ? "simulated" : "")" style="width: calc(@(Data.Height)px * sin(45deg) + 2px); height: calc(@(Data.Height)px * sin(45deg) + 2px); transform: scaleX(@Data.ScaleX) rotate(45deg); cursor: @(IsDragging ? "grabbing" : "grab");"
    @onmousedown="MouseDownAsync"
    @onmousedown:preventDefault="true"
    @onmousedown:stopPropagation="true"
    @ontouchstart="TouchStartAsync"
    @ontouchstart:preventDefault="true"></div>
    <span>@Data.GetLabel()</span>
    <span class="yes @(SimulatedYes ? "simulated" : "")">Yes</span>
    <span class="no @(SimulatedNo ? "simulated" : "")">No</span>
    <div class="connect connect-top connect-top-decision" 
    @onclick="() => OnPointClickAsync(socketTop, connectFrom: () => false, connectTo: () => true)"
    @onclick:stopPropagation="true"
    @onmousedown:preventDefault="true"></div>
    <div class="connect connect-bottom connect-bottom-decision" 
    @onclick="() => OnPointClickAsync(socketBottom, connectFrom: () => true, connectTo: () => false, conn => Data.FalseSymbols.Add(conn.DestSymbolId))"
    @onclick:stopPropagation="true"
    @onmousedown:preventDefault="true"></div>

    @if (!noLeft)
    {
        <div class="connect connect-left-decision"
        @onclick="() => OnPointClickAsync(socketLeft, connectFrom: () => true, connectTo: () => false, conn => Data.TrueSymbols.Add(conn.DestSymbolId))"
        @onclick:stopPropagation="true"
        @onmousedown:preventDefault="true"></div>
    }

    <div class="connect connect-right-decision"
    @onclick="() => OnPointClickAsync(socketRight, connectFrom: () => true, connectTo: () => false, conn => Data.TrueSymbols.Add(conn.DestSymbolId))"
    @onclick:stopPropagation="true"
    @onmousedown:preventDefault="true"></div>
</div>

@code {
    private static bool noLeft = true;

    private static string socketTop = "top";
    private static string socketBottom = "bottom";
    private static string socketLeft = "left";
    private static string socketRight = "right";

    public ElementReference Shape { get; private set; }

    public bool IsDragging { get; set; }

    [Parameter, EditorRequired]
    public required DecisionSymbolData Data { get; set; }

    SymbolData ISymbol.Data => Data;

    [Parameter]
    public EventCallback<SymbolDragEventArgs> OnMouseDown { get; set; }

    [Parameter]
    public EventCallback<PointClickEventArgs> OnPointClick { get; set; }

    [Parameter]
    public EventCallback<KeyboardEventArgs> OnKeyDown { get; set; }

    public bool Selected => AppState.Persistent.SelectedSymbolId == Data.Id;
    public bool Simulated => AppState.Simulation?.CurrentSymbolIds.Contains(Data.Id) ?? false;
    string? ISymbol.GetSocketIn() => socketTop;
    string? ISymbol.GetSocketOut(Guid nextSymbolId) => Data.TrueSymbols.Contains(nextSymbolId) ? socketRight : socketBottom;

    private bool SimulatedYes => AppState.Simulation?.NextSymbolIds.TryGetValue(Data.Id, out var nextSymbolIds) == true && nextSymbolIds.Intersect(Data.TrueSymbols).Any();
    private bool SimulatedNo => AppState.Simulation?.NextSymbolIds.TryGetValue(Data.Id, out var nextSymbolIds) == true && nextSymbolIds.Intersect(Data.FalseSymbols).Any();

    private async Task MouseDownAsync(MouseEventArgs e)
    {
        IsDragging = true;
        await OnMouseDown.InvokeAsync(new SymbolDragEventArgs(this, e.ClientX, e.ClientY));
    }

    private async Task TouchStartAsync(TouchEventArgs e)
    {
        if (e.Touches.Length == 0)
        {
            return;
        }

        IsDragging = true;
        await OnMouseDown.InvokeAsync(new SymbolDragEventArgs(this, e.Touches[0].ClientX, e.Touches[0].ClientY));
    }

    private async Task OnPointClickAsync(string socket, Func<bool> connectFrom, Func<bool> connectTo, Action<LineConnection>? connection = null)
    {
        await OnPointClick.InvokeAsync(new PointClickEventArgs(this, Shape, socket, connectFrom, connectTo, connection));
    }
}
