@using FlowchartNET.Components.Events
@implements ISymbol
@inject AppState AppState

<div class="symbol symbol-io" style="position: absolute; left: @(Data.X)px; top: @(Data.Y)px; width: @(Data.Width)px;" @onkeydown="OnKeyDown">
    <div @ref="Shape" class="shape symbol-hoverable @(Selected ? "selected" : "") @(Simulated ? "simulated" : "")"
    style="width: calc(100% - (@(IOSymbolData.DefaultHeight)px * tan(20deg))); height: @(IOSymbolData.DefaultHeight)px; cursor: @(IsDragging ? "grabbing" : "grab");"
         @onmousedown="MouseDownAsync"
         @onmousedown:preventDefault="true"
         @onmousedown:stopPropagation="true"
         @ontouchstart="TouchStartAsync"
         @ontouchstart:preventDefault="true"></div>
    <span>@Data.GetLabel()</span>
    <div class="connect connect-top connect-top-io"
         @onclick="() => OnPointClickAsync(socketTop, connectFrom: () => false, connectTo: () => true)"
         @onclick:stopPropagation="true"
         @onmousedown:preventDefault="true"></div>
    <div class="connect connect-bottom connect-bottom-io"
         @onclick="() => OnPointClickAsync(socketBottom, connectFrom: () => true, connectTo: () => false, conn => Data.NextSymbols.Add(conn.DestSymbolId))"
         @onclick:stopPropagation="true"
         @onmousedown:preventDefault="true"></div>
</div>

@code {
    private static string socketTop = "top";
    private static string socketBottom = "bottom";

    public ElementReference Shape { get; private set; }

    public bool IsDragging { get; set; }

    [Parameter, EditorRequired]
    public required IOSymbolData Data { get; set; }

    Guid ISymbol.Id => Data.Id;
    double ISymbol.X { get => Data.X; set => Data.X = value; }
    double ISymbol.Y { get => Data.Y; set => Data.Y = value; }
    SymbolData ISymbol.Data => Data;

    [Parameter]
    public EventCallback<SymbolDragEventArgs> OnMouseDown { get; set; }

    [Parameter]
    public EventCallback<PointClickEventArgs> OnPointClick { get; set; }

    [Parameter]
    public EventCallback<KeyboardEventArgs> OnKeyDown { get; set; }

    public bool Selected => AppState.Persistent.SelectedSymbolId == Data.Id;
    public bool Simulated => AppState.Simulation?.CurrentSymbolIds.Contains(Data.Id) ?? false;
    string? ISymbol.GetSocketIn() => socketTop;
    string? ISymbol.GetSocketOut(Guid nextSymbolId) => socketBottom;

    private async Task MouseDownAsync(MouseEventArgs e)
    {
        IsDragging = true;
        await OnMouseDown.InvokeAsync(new SymbolDragEventArgs(this, e.ClientX, e.ClientY));
    }

    private async Task TouchStartAsync(TouchEventArgs e)
    {
        if (e.Touches.Length == 0)
        {
            return;
        }

        IsDragging = true;
        await OnMouseDown.InvokeAsync(new SymbolDragEventArgs(this, e.Touches[0].ClientX, e.Touches[0].ClientY));
    }

    private async Task OnPointClickAsync(string socket, Func<bool> connectFrom, Func<bool> connectTo, Action<LineConnection>? connection = null)
    {
        await OnPointClick.InvokeAsync(new PointClickEventArgs(this, Shape, socket, connectFrom, connectTo, connection));
    }
}
